*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --primary-color: #a855f7;
  --secondary-color: #a78bfa;
  --btn-color: #c084fc;
  --danger-color: #ef4444;
}


.home-container{
  display: flex;
  gap: 1.5rem;
  height: 90vh;
  width: 100vw;
}

.route{
 margin: 0 auto;
}

.navContainer{
  /* margin: 0 auto; */
  /* border-right: 2px solid #818cf8; */
  width: 20%;
  background-color: var(--primary-color);

}